<!-- fragments/report-modal.html -->
<div class="modal is-hidden"
     th:fragment="report-modal"
     id="reportModal">

    <div class="modal-backdrop"></div>

    <div class="modal-panel">

        <!-- =========================
             Header
        ========================= -->
        <header class="modal-header">
            <h3 class="modal-title">신고하기</h3>

            <button type="button"
                    class="modal-close-btn"
                    data-action="close-report-modal">
                ✕
            </button>
        </header>

        <!-- =========================
             Body
        ========================= -->
        <div class="modal-body">

            <!-- 신고 사유 -->
            <div class="report-field">
                <p class="report-label">신고 사유</p>

                <label>
                    <input type="radio" name="report-reason" value="SPAM">
                   <span>광고 / 스팸</span>
                </label>

                <label>
                    <input type="radio" name="report-reason" value="FRAUD">
                    <span>사기 의심</span>
                </label>

                <label>
                    <input type="radio" name="report-reason" value="ILLEGAL">
                    <span>불법 상품</span>
                </label>

                <label>
                    <input type="radio" name="report-reason" value="ABUSE">
                    <span>욕설 / 비매너</span>
                </label>

                <label>
                    <input type="radio" name="report-reason" value="ETC">
                    <span>기타</span>
                </label>
            </div>
			
			<p class="report-help">
			  허위 신고 시 제재를 받을 수 있습니다.
			</p>

            <!-- 상세 내용 -->
            <div class="report-field">
                <label class="report-label">
                    상세 내용
                </label>

                <textarea class="report-textarea"
                          rows="4"
                          placeholder="신고 사유를 자세히 작성해주세요"></textarea>
            </div>

        </div>

        <!-- =========================
             Footer
        ========================= -->
        <footer class="modal-footer">

            <button type="button"
                    class="btn report-btn"
                    data-action="close-report-modal">
                취소
            </button>

			<button
			  class="btn-primary report-submit-btn is-disabled report-btn"
			  data-action="submit-report"
			  disabled>
			  신고 접수
			</button>

        </footer>

    </div>
</div>
