<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.AdminMemberMapper">

    <select id="selectAdminMemberList"
            resultType="com.itwillbs.dto.AdminMemberListDTO">

        SELECT
            user_id       AS userId,
            email,
            role,
            user_status   AS userStatus,
            username,
            nickname,
            phone_number  AS phoneNumber,
            created_at    AS createdAt
        FROM users
        ORDER BY created_at DESC

    </select>

</mapper>
